swagger: '2.0'
info:
    title: 'Хүний нөөцийн системийн веб сервис'
    description: '
        <p>
        <strong>Хүний нөөцийн систем</strong>ийн веб сервисийг RESTful API хэлбэрээр тодорхойлсон 
        энэхүү баримт бичгийн дагуу стандартыг баримтлан интеграци хийх боломжтой.
        </p>
        <p>Веб сервисийн гарын авлагын ерөнхий цэснээс:</p>
        <ul>
            <li><a href="#">Ерөнхий мэдээлэл</a> хэсгээс веб сервисийн ойлголт, хэрхэн ашиглах,... зэрэг мэдээлэл.</li>
            <li><a href="#">Веб сервистэй ажиллах</a> хэсгээс ХНУМС-ийн веб сервистэй ажиллах дэлгэрэнгүй мэдээлэл.</li>
            <li><a href="#">v1.0.0</a> хэсгээс веб сервисийн 1.0.0 хувилбарын бүтэц болон дэлгэрэнгүй мэдээллийг авна.</li>
            <li><a href="#">v2.0</a> хэсгээс веб сервисийн 2.0 хувилбарын бүтэц болон дэлгэрэнгүй мэдээллийг авна.</li>
        </ul>
        <br><br><br>
        <h2 id="GeneralInformation">ХҮНИЙ НӨӨЦИЙН СИСТЕМИЙН ВЕБ СЕРВИСИЙН 1.0.0 ХУВИЛБАР</h2>
        <p>
            Хүний нөөцийн системийн веб сервисийн 1.0.0 хувилбарын бүтэц загвар болон хэрхэн ашиглагдах мэдээллийг агуулна.
        </p>
        '
    x-logo:
      url: './logo.jpg'
      backgroundColor: '#4067C6'

    contact:
        name: Веб сервисийн тусламж
        url: 'https://hr.csc.gov.mn/doc'
        email: support@csc.gov.mn
host: hr.csc.gov.mn
basePath: /api/rest/1.0.0
schemes:
    - https
x-tagGroups:
    -
      name: ВЕБ СЕРВИСИЙН БҮТЭЦ, ЗАГВАР
      tags:
        - Объектын дата модел
    -
      name: АЛБАН БАЙГУУЛЛАГА
      tags:
        - Албан байгууллага
    -
      name: САЛБАР НЭГЖ
      tags:
        - Салбар нэгж
    -
      name: ДОТООД НЭГЖ
      tags:
        - Дотоод нэгж
    - 
      name: БАЙРШИЛ
      tags: 
        - Байршил
    -
      name: АЖИЛ, АЖЛЫН БҮЛЭГ
      tags:
        - Ажлын бүлэг
        - Ажил
        - Ажлын боломжит цалингийн зэрэглэл
    -
      name: АЖЛЫН БАЙР
      tags:
        - Ажлын байр
        - Ажлын байрны боломжит цалингийн зэрэглэл
    -
      name: АЖИЛТАН
      tags:
        - Ажилтан
        - Ажилтны ажил эрхлэлт
        - Ажилтны нэмэгдэл цалин хөлс
    -
      name: ЦАЛИНГИЙН СХЕМ, ҮНЭЛГЭЭ
      tags:
        - Цалингийн схем
        - Цалингийн схемийн зэрэглэл
        - Цалингийн зэрэглэл
        - Цалингийн зэрэглэлийн үнэлгээ
        - Цалингийн зэрэглэлийн шатлал
        - Цалингийн зэрэглэлийн шатлалын үнэлгээ
        - Цалингийн үнэлгээ
        - Цалингийн үнэлгээний утга
tags:
    -
        name: Объектын дата модел
        description: '
                        <p>Дараах диаграмаар ХНУМС-ийн объектын дата моделийн дээд түвшний ойлголтын загварыг харуулж байна. Зураг дээр даран шинэ таб нээж зургийн хэмжээг өөрчлөн харж болно.</p>
                        <br>
                        <h2>ХНУМС | Дата модел</h2>
                        <hr>
                        <br>
                        <a href="./ObjectModelDiagram.png" target="_blank">
                            <img src="./ObjectModelDiagram.png" alt="HCM Object Model Diagram" />
                        </a>
                        <br>
                        <p>
                            Веб сервисийн нөөцийн аттрибут болон хийгдэх үйлдлүүдийн мэдээллийг <code>describe</code> оператор ашиглан авах ба дэлгэрэнгүй мэдээллийг <a href="#tag/Metadatataj-azhillah">Метадататай ажиллах</a> хэсгээс харна уу.
                            Веб сервисийн үйлдэл хийхдээ заавал нөөцрүү хандах зам ашиглана.
                        </p>
                        <br>
                        <p>Дараах хүснэгтээр ХНУМС-ийн объектын нэр болон веб сервисийн нөөцрүү хандах замыг танилцуулж байна:</p>
                        <p>Веб сервисийн нөөцрүү хандах зам дараах хэлбэртэй байна:</p>
                        <p>
                            <code>https://&lt;host&gt;:&lt;port&gt;/api/rest/&lt;version&gt;/&lt;resourcename&gt;</code>
                        </p>
                        <table>
                            <tbody>
                                <tr>
                                    <td><strong>Объектын нэр</strong></td>
                                    <td><strong>Веб сервисийн нөөцрүү хандах</strong></td>
                                </tr>
                                <tr>
                                    <td><a href="#tag/Alban-bajguullaga">Албан байгууллага</a></td>
                                    <td><code>/legalEntities</code></td>
                                </tr>
                                <tr>
                                    <td><a href="#tag/Salbar-negzh">Салбар нэгж</a></td>
                                    <td><code>/businessUnits</code></td>
                                </tr>
                                <tr>
                                    <td><a href="#tag/Dotood-negzh">Дотоод нэгж</a></td>
                                    <td><code>/departments</code></td>
                                </tr>
                                <tr>
                                    <td><a href="#tag/Bajrshil">Байршил</a></td>
                                    <td><code>/locations</code></td>
                                </tr>
                                <tr>
                                    <td><a href="#tag/Azhlyn-bleg">Ажлын бүлэг</a></td>
                                    <td><code>/jobFamilies</code></td>
                                </tr>
                                <tr>
                                    <td><a href="#tag/Azhil">Ажил</a></td>
                                    <td><code>/jobs</code></td>
                                </tr>
                                <tr>
                                    <td><a href="#tag/Azhlyn-bolomzhit-calingijn-zereglel">Ажлын боломжит цалингийн зэрэглэл</a></td>
                                    <td><code>/jobs/{id}/child/validGrades</code></td>
                                </tr>
                                <tr>
                                    <td><a href="#tag/Azhlyn-bajr">Ажлын байр</a></td>
                                    <td><code>/positions</code></td>
                                </tr>
                                <tr>
                                    <td><a href="#tag/Azhlyn-bajrny-bolomzhit-calingijn-zereglel">Ажлын байрны боломжит цалингийн зэрэглэл</a></td>
                                    <td><code>/positions/{id}/child/validGrades</code></td>
                                </tr>
                                <tr>
                                    <td><a href="#tag/Azhiltan">Ажилтан</a></td>
                                    <td><code>/employees</code></td>
                                </tr>
                                <tr>
                                    <td><a href="#tag/Azhiltny-azhil-erhlelt">Ажилтны ажил эрхлэлт</a></td>
                                    <td><code>/employees/{id}/child/assignments</code></td>
                                </tr>
                                <tr>
                                    <td><a href="#tag/Azhiltny-nemegdel-calin-hls">Ажилтны нэмэгдэл цалин хөлс</a></td>
                                    <td><code>/employees/{id}/child/compensations</code></td>
                                </tr>
                                <tr>
                                    <td><a href="#tag/Calingijn-shem">Цалингийн схем</a></td>
                                    <td><code>/salarySchemes</code></td>
                                </tr>
                                <tr>
                                    <td><a href="#tag/Calingijn-shemijn-zereglel">Цалингийн схемийн зэрэглэл</a></td>
                                    <td><code>/salarySchemes/{id}/child/grades</code></td>
                                </tr>
                                <tr>
                                    <td><a href="#tag/Calingijn-zereglel">Цалингийн зэрэглэл</a></td>
                                    <td><code>/salaryGrades</code></td>
                                </tr>
                                <tr>
                                    <td><a href="#tag/Calingijn-zereglelijn-nelgee">Цалингийн зэрэглэлийн үнэлгээ</a></td>
                                    <td><code>/salaryGrades/{id}/child/rateValues</code></td>
                                </tr>
                                <tr>
                                    <td><a href="#tag/Calingijn-zereglelijn-shatlal">Цалингийн зэрэглэлийн шатлал</a></td>
                                    <td><code>/salaryGrades/{id}/child/steps</code></td>
                                </tr>
                                <tr>
                                    <td><a href="#tag/Calingijn-zereglelijn-shatlalyn-nelgee">Цалингийн зэрэглэлийн шатлалын үнэлгээ</a></td>
                                    <td><code>/salaryGrades/{id}/child/steps/{childId}/child/rateValues</code></td>
                                </tr>
                                <tr>
                                    <td><a href="#tag/Calingijn-nelgee">Цалингийн үнэлгээ</a></td>
                                    <td><code>/salaryRates</code></td>
                                </tr>
                                <tr>
                                    <td><a href="#tag/Calingijn-nelgeenij-utga">Цалингийн үнэлгээний утга</a></td>
                                    <td><code>/salaryRates/{id}/child/rateValues</code></td>
                                </tr>
                            </tbody>
                        </table>
        <br><br><br>
        <h2 id="legalEntities">Албан байгууллага</h2>
        <p>
            Албан байгууллагын үндсэн мэдээлэл болон холбогдох холбоо барих мэдээлэл, өмчийн хэлбэр,...гэх мэт мэдээллийг агуулна.
        </p>
        '
    -
        name: Албан байгууллага
        description: 'Албан байгууллагын үндсэн мэдээлэл. Веб сервисийн бүтэцтэй холбоотой нэмэлт мэдээллийг <a href="#tag/Obuektyn-data-model">Объектын дата модел</a> хэсгээс харна уу.'
    -
        name: Албан байгууллагын хаяг
        description: 'Албан байгууллагын хаягийн мэдээлэл. Веб сервисийн бүтэцтэй холбоотой нэмэлт мэдээллийг <a href="#tag/Obuektyn-data-model">Объектын дата модел</a> хэсгээс харна уу.'
    -
        name: Албан байгууллагын утасны дугаар
        description: 'Албан байгууллагын утасны дугаарын мэдээлэл. Веб сервисийн бүтэцтэй холбоотой нэмэлт мэдээллийг <a href="#tag/Obuektyn-data-model">Объектын дата модел</a> хэсгээс харна уу.'
    -
        name: Албан байгууллагын мэйл хаяг
        description: 'Албан байгууллагын мэйл хаягийн мэдээлэл. Веб сервисийн бүтэцтэй холбоотой нэмэлт мэдээллийг <a href="#tag/Obuektyn-data-model">Объектын дата модел</a> хэсгээс харна уу.'
    -
        name: Албан байгууллагын веб хаяг
        description: 'Албан байгууллагын веб хаягийн мэдээлэл. Веб сервисийн бүтэцтэй холбоотой нэмэлт мэдээллийг <a href="#tag/Obuektyn-data-model">Объектын дата модел</a> хэсгээс харна уу.'
    - 
        name: Салбар нэгж
        description: 'Салбар нэгжийн мэдээлэл. Веб сервисийн бүтэцтэй холбоотой нэмэлт мэдээллийг <a href="#tag/Obuektyn-data-model">Объектын дата модел</a> хэсгээс харна уу.'
    -
        name: Салбар нэгжийн хаяг
        description: 'Салбар нэгжийн хаягийн мэдээлэл. Веб сервисийн бүтэцтэй холбоотой нэмэлт мэдээллийг <a href="#tag/Obuektyn-data-model">Объектын дата модел</a> хэсгээс харна уу.'
    -
        name: Салбар нэгжийн утасны дугаар
        description: 'Салбар нэгжийн утасны дугаарын мэдээлэл. Веб сервисийн бүтэцтэй холбоотой нэмэлт мэдээллийг <a href="#tag/Obuektyn-data-model">Объектын дата модел</a> хэсгээс харна уу.'
    -
        name: Салбар нэгжийн мэйл хаяг
        description: 'Салбар нэгжийн мэйл хаягийн мэдээлэл. Веб сервисийн бүтэцтэй холбоотой нэмэлт мэдээллийг <a href="#tag/Obuektyn-data-model">Объектын дата модел</a> хэсгээс харна уу.'
    -
        name: Салбар нэгжийн веб хаяг
        description: 'Салбар нэгжийн веб хаягийн мэдээлэл. Веб сервисийн бүтэцтэй холбоотой нэмэлт мэдээллийг <a href="#tag/Obuektyn-data-model">Объектын дата модел</a> хэсгээс харна уу.'
    - 
        name: Дотоод нэгж
        description: 'Дотоод нэгжийн мэдээлэл. Веб сервисийн бүтэцтэй холбоотой нэмэлт мэдээллийг <a href="#tag/Obuektyn-data-model">Объектын дата модел</a> хэсгээс харна уу.'
    - 
        name: Байршил
        description: 'Байршлын мэдээлэл. Веб сервисийн бүтэцтэй холбоотой нэмэлт мэдээллийг <a href="#tag/Obuektyn-data-model">Объектын дата модел</a> хэсгээс харна уу.'
    - 
        name: Ажлын байр
        description: 'Ажлын байрийн мэдээлэл. Веб сервисийн бүтэцтэй холбоотой нэмэлт мэдээллийг <a href="#tag/Obuektyn-data-model">Объектын дата модел</a> хэсгээс харна уу.'
    - 
        name: Ажлын байрны боломжит цалингийн зэрэглэл
        description: 'Ажлын байрны боломжит цалингийн зэрэглэлийн мэдээлэл. Веб сервисийн бүтэцтэй холбоотой нэмэлт мэдээллийг <a href="#tag/Obuektyn-data-model">Объектын дата модел</a> хэсгээс харна уу.'
    - 
        name: Ажилтан
        description: 'Ажилтны мэдээлэл. Веб сервисийн бүтэцтэй холбоотой нэмэлт мэдээллийг <a href="#tag/Obuektyn-data-model">Объектын дата модел</a> хэсгээс харна уу.'
    -   
        name: Ажилтны ажил эрхлэлт
        description: 'Ажилтны ажил эрхлэлтийн мэдээлэл. Веб сервисийн бүтэцтэй холбоотой нэмэлт мэдээллийг <a href="#tag/Obuektyn-data-model">Объектын дата модел</a> хэсгээс харна уу.'
    -   
        name: Ажилтны нэмэгдэл цалин хөлс
        description: 'Ажилтны нэмэгдэл, цалин хөлсний мэдээлэл. Веб сервисийн бүтэцтэй холбоотой нэмэлт мэдээллийг <a href="#tag/Obuektyn-data-model">Объектын дата модел</a> хэсгээс харна уу.'
    -
        name: Ажлын бүлэг
        description: 'Ажлын бүлгийн мэдээлэл. Веб сервисийн бүтэцтэй холбоотой нэмэлт мэдээллийг <a href="#tag/Obuektyn-data-model">Объектын дата модел</a> хэсгээс харна уу.'
    -
        name: Ажил
        description: 'Ажлын мэдээлэл. Веб сервисийн бүтэцтэй холбоотой нэмэлт мэдээллийг <a href="#tag/Obuektyn-data-model">Объектын дата модел</a> хэсгээс харна уу.'
    -
        name: Ажлын боломжит цалингийн зэрэглэл
        description: 'Ажлын боломжит цалингийн зэрэглэлийн мэдээлэл. Веб сервисийн бүтэцтэй холбоотой нэмэлт мэдээллийг <a href="#tag/Obuektyn-data-model">Объектын дата модел</a> хэсгээс харна уу.'
    -
        name: Цалингийн схем
        description: 'Цалингийн схемийн мэдээлэл. Веб сервисийн бүтэцтэй холбоотой нэмэлт мэдээллийг <a href="#tag/Obuektyn-data-model">Объектын дата модел</a> хэсгээс харна уу.'
    -
        name: Цалингийн схемийн зэрэглэл
        description: 'Цалингийн схемийн зэрэглэлийн мэдээлэл. Веб сервисийн бүтэцтэй холбоотой нэмэлт мэдээллийг <a href="#tag/Obuektyn-data-model">Объектын дата модел</a> хэсгээс харна уу.'
    - 
        name: Цалингийн зэрэглэл
        description: 'Цалингийн зэрэглэлийн мэдээлэл. Веб сервисийн бүтэцтэй холбоотой нэмэлт мэдээллийг <a href="#tag/Obuektyn-data-model">Объектын дата модел</a> хэсгээс харна уу.'
    - 
        name: Цалингийн зэрэглэлийн үнэлгээ
        description: 'Цалингийн зэрэглэлийн үнэлгээний мэдээлэл. Веб сервисийн бүтэцтэй холбоотой нэмэлт мэдээллийг <a href="#tag/Obuektyn-data-model">Объектын дата модел</a> хэсгээс харна уу.'
    - 
        name: Цалингийн зэрэглэлийн шатлал
        description: 'Цалингийн зэрэглэлийн шатлалын мэдээлэл. Веб сервисийн бүтэцтэй холбоотой нэмэлт мэдээллийг <a href="#tag/Obuektyn-data-model">Объектын дата модел</a> хэсгээс харна уу.'
    - 
        name: Цалингийн зэрэглэлийн шатлалын үнэлгээ
        description: 'Цалингийн зэрэглэлийн шатлалын үнэлгээний мэдээлэл. Веб сервисийн бүтэцтэй холбоотой нэмэлт мэдээллийг <a href="#tag/Obuektyn-data-model">Объектын дата модел</a> хэсгээс харна уу.'
    -   
        name: Цалингийн үнэлгээ
        description: 'Цалингийн үнэлгээний мэдээлэл. Веб сервисийн бүтэцтэй холбоотой нэмэлт мэдээллийг <a href="#tag/Obuektyn-data-model">Объектын дата модел</a> хэсгээс харна уу.'
    -   
        name: Цалингийн үнэлгээний утга
        description: 'Цалингийн үнэлгээний утгын мэдээлэл. Веб сервисийн бүтэцтэй холбоотой нэмэлт мэдээллийг <a href="#tag/Obuektyn-data-model">Объектын дата модел</a> хэсгээс харна уу.'

paths:
    /legalEntities:
        get:
            operationId: getLegalEntities
            summary: Албан байгууллагын жагсаалт
            description: 'Албан байгууллагын жагсаалт'
            parameters:
                - 
                    name: expand
                    description: 'Энэ параметрыг ашигласан үед сервер тодорхойлсон харъяалагдах нөөцийг буцаах ба нэгээс олон харъяалагдах нөөцийг буцаах бол таслалаар хязгаарлан тоочиж өгнө. Жишээ нь: ?expand=Employees,Localizations. Харин бүх харъяалагдах нөөцийг авах бол ?expand=all гэж ашиглана.'
                    in: query
                    type: string
                - 
                    name: fields
                    description: 'Энэ параметр нь тухайн нөөцийн багануудыг шүүхэд ашиглагдана. Сервер зөвхөн тодорхойлсон баганы мэдээллийг буцаана. Мөн харъяалагдах нөөцийн баганыг шүүж авч болно. Жишээ нь: "?fields=legalEntityName;legalEntities.businessUnits:businessUnitName" нь legalEntityName болон харъяалагдах Салбар нэгж нөөцийн businessUnitName гэсэн баганыг харуулна. <br><br>Ашиглах загвар: ?fields=Attribute1,Attribute2<br><br>Харъяалагдах нөөцийн хувьд: ?fields=Child1:Attribute1,Attribute2'
                    in: query
                    type: string
                - 
                    name: onlyData
                    description: 'Сервер зөвхөн тухайн нөөцийн датаг буцаана. (Жишээ нь: Ямарч линк агуулсан хэсэг буцаагдахгүй)'
                    in: query
                    type: boolean
                - 
                    name: dependency
                    description: 'Энэ параметр нь хоорондоо хамааралтай багануудын хамаарлыг тодорхойлно. Жишээ нь: dependency=ProductId=2<br><br>Ашиглах формат: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;'
                    in: query
                    type: string
                - 
                    name: limit
                    description: Энэ параметр нь нөөцийн цуглуулгаас заагдсан тоогоор нөөцийг хязгаарлан буцаана. Гэхдээ энэ хязгаар нь боломжит нөөцийн тоогоос хэтрэхгүй байна.
                    in: query
                    type: integer
                - 
                    name: offset
                    description: Энэ параметр нь нөөцийн цуглуулганы эхлэх байршлыг заахад ашиглагдана. Үндсэн утга нь 0 байна.
                    in: query
                    type: integer
                - 
                    name: totalResults
                    description: 'Энэ параметр нь нийт нөөцийн тоог буцаахад ашиглагдана. "?totalResults=true" гэж ашиглана. Үндсэн утга нь "false" байна.'
                    in: query
                    type: boolean
                - 
                    name: q
                    description: 'Энэ параметр нь нөөцийг шүүх, филтердэх нөхцөл болж ашиглагдана. Жишээ нь: ?q=legalEntityType&gt;=10 and &lt;= 30;Location!=UB <br><br>Ашиглах формат: ?q=expression1;expression2'
                    in: query
                    type: string
                - 
                    name: orderBy
                    description: 'Энэ параметр нь нөөцийг тодорхойлсон баганаар дарааллуулахад ашиглагдана. Параметрийн утга нь <strong>;</strong> аар ялгарах ба дарааллын тохиргоо ("asc" эсвэл "desc") нь хоорондоо <strong>:</strong> аар ялгарна. Үндсэн утга нь "asc" байна. Жишээ нь: ?orderBy=field1:asc,field2:desc'
                    in: query
                    type: string
                - 
                    name: finder
                    description: 'Урьдчилан тодорхойлсон хайлт. <br><br>Ашиглах формат: ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>Жишээ нь: ?finder=FindlegalEntityByRegistration;RegistrationNumber=100045,EffectiveDate=SYSDATE гэж ашиглана.'
                    in: query
                    type: string
            responses:
                default:
                    description: Үндсэн буцаах дата нь дараах хүснэгтэд тодорхойлсны дагуу байна.
                    schema:
                        $ref: '#/definitions/legalEntities'
            produces:
                - application/json
            tags:
                - Албан байгууллага
            x-internal-id: hemis-api-1.0.0-legalEntities-get
            x-code-samples:
                -  
                    lang: cURL
                    source: '
                            curl -X POST -H "Authorization: Bearer 6d151216ef504f65b8ff6e9e9e8356d3"
                            -H "Content-Type: application/json" 
                            -d {"name": "CASH", "type": "Cash"} "https://hemis.edu.mn/api/1.0.0/legalEntities"
                            '
                -  
                    lang: Java
                    source: |-
                            OkHttpClient client = new OkHttpClient();

                            MediaType mediaType = MediaType.parse("application/json");
                            Request request = new Request.Builder()
                            .url("https://hemis.edu.mn/api/1.0.0/legalEntities")
                            .get()
                            .addHeader("Authorization", "Bearer 6d151216ef504f65b8ff6e9e9e8356d3")
                            .addHeader("content-type", "application/json")
                            .addHeader("cache-control", "no-cache")
                            .build();

                            Response response = client.newCall(request).execute();
        post:
            operationId: createLegalEntity
            summary: Албан байгууллага үүсгэх
            description: 'Албан байгууллага үүсгэх'
            parameters:
                - 
                    name: payload
                    description: 'Үндсэн буцаах дата нь дараах хүснэгтэд тодорхойлсны дагуу байна.'
                    in: body
                    type: string
                    schema:
                        $ref: '#/definitions/legalEntities-item'
            responses:
                default:
                    description: Үндсэн буцаах дата нь дараах хүснэгтэд тодорхойлсны дагуу байна.
                    schema:
                        $ref: '#/definitions/legalEntities-item'
            produces:
                - application/json
            tags:
                - Албан байгууллага
            x-internal-id: hemis-api-1.0.0-legalEntities-post      
    /legalEntities/{id}:
        get:
            operationId: getLegalEntity
            summary: Албан байгуулагын мэдээлэл
            description: 'Албан байгуулагын мэдээлэл'
            parameters:
                - 
                    name: expand
                    description: 'Энэ параметрыг ашигласан үед сервер тодорхойлсон харъяалагдах нөөцийг буцаах ба нэгээс олон харъяалагдах нөөцийг буцаах бол таслалаар хязгаарлан тоочиж өгнө. Жишээ нь: ?expand=Employees,Localizations. Харин бүх харъяалагдах нөөцийг авах бол ?expand=all гэж ашиглана.'
                    in: query
                    type: string
                - 
                    name: fields
                    description: 'Энэ параметр нь тухайн нөөцийн багануудыг шүүхэд ашиглагдана. Сервер зөвхөн тодорхойлсон баганы мэдээллийг буцаана. Мөн харъяалагдах нөөцийн баганыг шүүж авч болно. Жишээ нь: "?fields=legalEntityName;legalEntities.businessUnits:businessUnitName" нь legalEntityName болон харъяалагдах Салбар нэгж нөөцийн businessUnitName гэсэн баганыг харуулна. <br><br>Ашиглах загвар: ?fields=Attribute1,Attribute2<br><br>Харъяалагдах нөөцийн хувьд: ?fields=Child1:Attribute1,Attribute2'
                    in: query
                    type: string
                - 
                    name: onlyData
                    description: 'Зөвхөн өгөгдөл харуулна (Жишээ нь линкийн хэсгийг харуулахгүй).'
                    in: query
                    type: boolean
                - 
                    name: dependency
                    description: 'Энэ параметр нь хоорондоо хамааралтай багануудын хамаарлыг тодорхойлно. Жишээ нь: dependency=ProductId=2<br><br>Ашиглах формат: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;'
                    in: query
                    type: string
            responses:
                default:
                    description: Үндсэн буцаах дата нь дараах хүснэгтэд тодорхойлсны дагуу байна.
                    schema:
                        $ref: '#/definitions/legalEntities-item'
            produces:
                - application/json
            tags:
                - Албан байгууллага
            x-internal-id: hemis-api-1.0.0-legalEntities-{id}-get
        patch:
            operationId: updateLegalEntity
            summary: Албан байгуулагын мэдээлэл засах
            description: 'Албан байгуулагын мэдээлэл засах'
            parameters:
                - 
                    name: payload
                    description: 'Үндсэн буцаах дата нь дараах хүснэгтэд тодорхойлсны дагуу байна.'
                    in: body
                    type: string
                    schema:
                        $ref: '#/definitions/legalEntities-item'
            responses:
                default:
                    description: Үндсэн буцаах дата нь дараах хүснэгтэд тодорхойлсны дагуу байна.
                    schema:
                        $ref: '#/definitions/legalEntities-item'
            produces:
                - application/json
            tags:
                - Албан байгууллага
            x-internal-id: hemis-api-1.0.0-legalEntities-{id}-patch
        delete:
            operationId: deleteLegalEntity
            summary: Албан байгууллага устгах
            description: 'Албан байгууллага устгах'
            responses:
                204:
                    description: Харуулах мэдээлэл байхгүй.
            produces:
                - application/json
            tags:
                - Албан байгууллага
            x-internal-id: hemis-api-1.0.0-legalEntities-{id}-delete
        parameters:
            - 
                name: id
                description: '
                <p>Энэ параметр нь тухайн нөөцийн анхдагч түлхүүрийн мэдээллээс сервер шифрлэн үүсгэсэн <code>hash key</code> ба тухайн бичлэгийг давхцахгүй байдлаар бүрэн илэрхийлнэ.</p>
                <p>Хэрэв тухайн нөөцөөс анхдагч түлхүүр ашиглан мэдээлэл авах бол <code>q</code> параметр ашиглах ба дараах хэлбэртэй байна:</p>
                <code>/&lt;resourceName&gt;?q=PrimaryKey1=&lt;value1&gt;;PrimaryKey2=&lt;value2&gt;;PrimaryKey3=&lt;value3&gt;</code>
                <br>
                <p>Тайлбар:</p>
                <ul>
                    <li><code>/&lt;resourceName&gt;</code> хэсэгт веб сервисийн нөөцийн нэр байна.</li>
                    <li><code>PrimaryKey1, PrimaryKey2, PrimaryKey3</code> хэсэгт анхдагч түлхүүрийн баганы нэр байна.</li>
                    <li><code>&lt;value1&gt;, &lt;value2&gt;, &lt;value3&gt;</code> хэсэгт анхдагч түлхүүрээр шүүх утга бичнэ.</li>
                </ul>
                <br>
                <p>Албан байгууллагын анхдагч түлхүүрээр шүүхдээ дараах хэлбэрээр шүүнэ:</p>
                <code>/legalEntities?q=LegalEntityId=&lt;value1&gt;;EffectiveStartDate=&lt;value2&gt;;EffectiveEndDate=&lt;value3&gt;</code>
                '
                required: true
                in: path
                type: string
    /legalEntities/{id}/child/addresses:
        get:
            operationId: getLegalEntityAddresses
            summary: Албан байгууллагын хаягийн жагсаалт
            description: 'Албан байгууллагын хаягийн жагсаалт'
            parameters:
                - 
                    name: expand
                    description: 'Энэ параметрыг ашигласан үед сервер тодорхойлсон харъяалагдах нөөцийг буцаах ба нэгээс олон харъяалагдах нөөцийг буцаах бол таслалаар хязгаарлан тоочиж өгнө. Жишээ нь: ?expand=Employees,Localizations. Харин бүх харъяалагдах нөөцийг авах бол ?expand=all гэж ашиглана.'
                    in: query
                    type: string
                - 
                    name: fields
                    description: 'Энэ параметр нь тухайн нөөцийн багануудыг шүүхэд ашиглагдана. Сервер зөвхөн тодорхойлсон баганы мэдээллийг буцаана. Мөн харъяалагдах нөөцийн баганыг шүүж авч болно. Жишээ нь: "?fields=legalEntityName;legalEntities.businessUnits:businessUnitName" нь legalEntityName болон харъяалагдах Салбар нэгж нөөцийн businessUnitName гэсэн баганыг харуулна. <br><br>Ашиглах загвар: ?fields=Attribute1,Attribute2<br><br>Харъяалагдах нөөцийн хувьд: ?fields=Child1:Attribute1,Attribute2'
                    in: query
                    type: string
                - 
                    name: onlyData
                    description: 'Сервер зөвхөн тухайн нөөцийн датаг буцаана. (Жишээ нь: Ямарч линк агуулсан хэсэг буцаагдахгүй)'
                    in: query
                    type: boolean
                - 
                    name: dependency
                    description: 'Энэ параметр нь хоорондоо хамааралтай багануудын хамаарлыг тодорхойлно. Жишээ нь: dependency=ProductId=2<br><br>Ашиглах формат: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;'
                    in: query
                    type: string
                - 
                    name: limit
                    description: Энэ параметр нь нөөцийн цуглуулгаас заагдсан тоогоор нөөцийг хязгаарлан буцаана. Гэхдээ энэ хязгаар нь боломжит нөөцийн тоогоос хэтрэхгүй байна.
                    in: query
                    type: integer
                - 
                    name: offset
                    description: Энэ параметр нь нөөцийн цуглуулганы эхлэх байршлыг заахад ашиглагдана. Үндсэн утга нь 0 байна.
                    in: query
                    type: integer
                - 
                    name: totalResults
                    description: 'Энэ параметр нь нийт нөөцийн тоог буцаахад ашиглагдана. "?totalResults=true" гэж ашиглана. Үндсэн утга нь "false" байна.'
                    in: query
                    type: boolean
                - 
                    name: q
                    description: 'Энэ параметр нь нөөцийг шүүх, филтердэх нөхцөл болж ашиглагдана. Жишээ нь: ?q=legalEntityType&gt;=10 and &lt;= 30;Location!=UB <br><br>Ашиглах формат: ?q=expression1;expression2'
                    in: query
                    type: string
                - 
                    name: orderBy
                    description: 'Энэ параметр нь нөөцийг тодорхойлсон баганаар дарааллуулахад ашиглагдана. Параметрийн утга нь <strong>;</strong> аар ялгарах ба дарааллын тохиргоо ("asc" эсвэл "desc") нь хоорондоо <strong>:</strong> аар ялгарна. Үндсэн утга нь "asc" байна. Жишээ нь: ?orderBy=field1:asc,field2:desc'
                    in: query
                    type: string
                - 
                    name: finder
                    description: 'Урьдчилан тодорхойлсон хайлт. <br><br>Ашиглах формат: ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>Жишээ нь: ?finder=FindlegalEntityByRegistration;RegistrationNumber=100045,EffectiveDate=SYSDATE гэж ашиглана.'
                    in: query
                    type: string
            responses:
                default:
                    description: Үндсэн буцаах дата нь дараах хүснэгтэд тодорхойлсны дагуу байна.
                    schema:
                        $ref: '#/definitions/legalEntity-addresses'
            produces:
                - application/json
            tags:
                - Албан байгууллагын хаяг
            x-internal-id: hemis-api-1.0.0-legalEntities-child-addresses-get
        post:
            operationId: createLegalEntityAddress
            summary: Албан байгууллагын хаяг үүсгэх
            description: 'Албан байгууллагын хаяг үүсгэх'
            parameters:
                - 
                    name: payload
                    description: 'Үндсэн буцаах дата нь дараах хүснэгтэд тодорхойлсны дагуу байна.'
                    in: body
                    type: string
                    schema:
                        $ref: '#/definitions/legalEntity-addresses-item'
            responses:
                default:
                    description: Үндсэн буцаах дата нь дараах хүснэгтэд тодорхойлсны дагуу байна.
                    schema:
                        $ref: '#/definitions/legalEntity-addresses-item'
            produces:
                - application/json
            tags:
                - Албан байгууллагын хаяг
            x-internal-id: hemis-api-1.0.0-legalEntities-child-addresses-post   
        parameters:
            - 
                name: id
                description: '
                <p>Энэ параметр нь тухайн нөөцийн анхдагч түлхүүрийн мэдээллээс сервер шифрлэн үүсгэсэн <code>hash key</code> ба тухайн бичлэгийг давхцахгүй байдлаар бүрэн илэрхийлнэ.</p>
                <p>Хэрэв тухайн нөөцөөс анхдагч түлхүүр ашиглан мэдээлэл авах бол <code>q</code> параметр ашиглах ба дараах хэлбэртэй байна:</p>
                <code>/&lt;resourceName&gt;?q=PrimaryKey1=&lt;value1&gt;;PrimaryKey2=&lt;value2&gt;;PrimaryKey3=&lt;value3&gt;</code>
                <br>
                <p>Тайлбар:</p>
                <ul>
                    <li><code>/&lt;resourceName&gt;</code> хэсэгт веб сервисийн нөөцийн нэр байна.</li>
                    <li><code>PrimaryKey1, PrimaryKey2, PrimaryKey3</code> хэсэгт анхдагч түлхүүрийн баганы нэр байна.</li>
                    <li><code>&lt;value1&gt;, &lt;value2&gt;, &lt;value3&gt;</code> хэсэгт анхдагч түлхүүрээр шүүх утга бичнэ.</li>
                </ul>
                <br>
                <p>Албан байгууллагын анхдагч түлхүүрээр шүүхдээ дараах хэлбэрээр шүүнэ:</p>
                <code>/legalEntities?q=LegalEntityId=&lt;value1&gt;;EffectiveStartDate=&lt;value2&gt;;EffectiveEndDate=&lt;value3&gt;</code>
                '
                required: true
                in: path
                type: string
    /legalEntities/{id}/child/addresses/{childId}:
        get:
            operationId: getLegalEntityAddress
            summary: Албан байгууллагын хаягийн мэдээлэл
            description: 'Албан байгууллагын хаягийн мэдээлэл'
            parameters:
                - 
                    name: expand
                    description: 'Энэ параметрыг ашигласан үед сервер тодорхойлсон харъяалагдах нөөцийг буцаах ба нэгээс олон харъяалагдах нөөцийг буцаах бол таслалаар хязгаарлан тоочиж өгнө. Жишээ нь: ?expand=Employees,Localizations. Харин бүх харъяалагдах нөөцийг авах бол ?expand=all гэж ашиглана.'
                    in: query
                    type: string
                - 
                    name: fields
                    description: 'Энэ параметр нь тухайн нөөцийн багануудыг шүүхэд ашиглагдана. Сервер зөвхөн тодорхойлсон баганы мэдээллийг буцаана. Мөн харъяалагдах нөөцийн баганыг шүүж авч болно. Жишээ нь: "?fields=legalEntityName;legalEntities.businessUnits:businessUnitName" нь legalEntityName болон харъяалагдах Салбар нэгж нөөцийн businessUnitName гэсэн баганыг харуулна. <br><br>Ашиглах загвар: ?fields=Attribute1,Attribute2<br><br>Харъяалагдах нөөцийн хувьд: ?fields=Child1:Attribute1,Attribute2'
                    in: query
                    type: string
                - 
                    name: onlyData
                    description: 'Зөвхөн өгөгдөл харуулна (Жишээ нь линкийн хэсгийг харуулахгүй).'
                    in: query
                    type: boolean
                - 
                    name: dependency
                    description: 'Энэ параметр нь хоорондоо хамааралтай багануудын хамаарлыг тодорхойлно. Жишээ нь: dependency=ProductId=2<br><br>Ашиглах формат: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;'
                    in: query
                    type: string
            responses:
                default:
                    description: Үндсэн буцаах дата нь дараах хүснэгтэд тодорхойлсны дагуу байна.
                    schema:
                        $ref: '#/definitions/legalEntity-addresses-item'
            produces:
                - application/json
            tags:
                - Албан байгууллагын хаяг
            x-internal-id: hemis-api-1.0.0-legalEntities-child-addresses-{childId}-get
        patch:
            operationId: updateLegalEntityAddress
            summary: Албан байгууллагын хаягийн мэдээлэл засах
            description: 'Албан байгууллагын хаягийн мэдээлэл засах'
            parameters:
                - 
                    name: payload
                    description: 'Үндсэн буцаах дата нь дараах хүснэгтэд тодорхойлсны дагуу байна.'
                    in: body
                    type: string
                    schema:
                        $ref: '#/definitions/legalEntity-addresses-item'
            responses:
                default:
                    description: Үндсэн буцаах дата нь дараах хүснэгтэд тодорхойлсны дагуу байна.
                    schema:
                        $ref: '#/definitions/legalEntity-addresses-item'
            produces:
                - application/json
            tags:
                - Албан байгууллагын хаяг
            x-internal-id: hemis-api-1.0.0-legalEntities-child-addresses-{childId}-patch      
        delete:
            operationId: deleteLegalEntityAddress
            summary: Албан байгууллагын хаяг устгах
            description: 'Албан байгууллагын хаяг устгах'
            responses:
                204:
                    description: Харуулах мэдээлэл байхгүй.
            produces:
                - application/json
            tags:
                - Албан байгууллагын хаяг
            x-internal-id: hemis-api-1.0.0-legalEntities-child-addresses-{childId}-delete   
        parameters:
            - 
                name: id
                description: '
                <p>Энэ параметр нь тухайн нөөцийн анхдагч түлхүүрийн мэдээллээс сервер шифрлэн үүсгэсэн <code>hash key</code> ба тухайн бичлэгийг давхцахгүй байдлаар бүрэн илэрхийлнэ.</p>
                <p>Хэрэв тухайн нөөцөөс анхдагч түлхүүр ашиглан мэдээлэл авах бол <code>q</code> параметр ашиглах ба дараах хэлбэртэй байна:</p>
                <code>/&lt;resourceName&gt;?q=PrimaryKey1=&lt;value1&gt;;PrimaryKey2=&lt;value2&gt;;PrimaryKey3=&lt;value3&gt;</code>
                <br>
                <p>Тайлбар:</p>
                <ul>
                    <li><code>/&lt;resourceName&gt;</code> хэсэгт веб сервисийн нөөцийн нэр байна.</li>
                    <li><code>PrimaryKey1, PrimaryKey2, PrimaryKey3</code> хэсэгт анхдагч түлхүүрийн баганы нэр байна.</li>
                    <li><code>&lt;value1&gt;, &lt;value2&gt;, &lt;value3&gt;</code> хэсэгт анхдагч түлхүүрээр шүүх утга бичнэ.</li>
                </ul>
                <br>
                <p>Албан байгууллагын анхдагч түлхүүрээр шүүхдээ дараах хэлбэрээр шүүнэ:</p>
                <code>/legalEntities?q=LegalEntityId=&lt;value1&gt;;EffectiveStartDate=&lt;value2&gt;;EffectiveEndDate=&lt;value3&gt;</code>
                '
                required: true
                in: path
                type: string
            - 
                name: childId
                description: '
                <p>Энэ параметр нь харъяалагдах дэд нөөцийн анхдагч түлхүүрийн мэдээллээс сервер шифрлэн үүсгэсэн <code>hash key</code> ба тухайн бичлэгийг давхцахгүй байдлаар бүрэн илэрхийлнэ.</p>
                <p>Хэрэв тухайн нөөцөөс анхдагч түлхүүр ашиглан мэдээлэл авах бол <code>q</code> параметр ашиглах ба дараах хэлбэртэй байна:</p>
                <code>/&lt;resourceName&gt;/{id}/child/&lt;childResourceName&gt;?q=PrimaryKey1=&lt;value1&gt;;PrimaryKey2=&lt;value2&gt;;PrimaryKey3=&lt;value3&gt;</code>
                <br>
                <p>Тайлбар:</p>
                <ul>
                    <li><code>/&lt;resourceName&gt;/{id}/child/&lt;childResourceName&gt;</code> хэсэгт харъяалагдах дэд нөөцийн зам байна.</li>
                    <li><code>PrimaryKey1, PrimaryKey2, PrimaryKey3</code> хэсэгт анхдагч түлхүүрийн баганы нэр байна.</li>
                    <li><code>&lt;value1&gt;, &lt;value2&gt;, &lt;value3&gt;</code> хэсэгт анхдагч түлхүүрээр шүүх утга бичнэ.</li>
                </ul>
                <br>
                <p>Албан байгууллагын хаягийг анхдагч түлхүүрээр шүүхдээ дараах хэлбэрээр шүүнэ:</p>
                <code>/legalEntities/{id}/child/addresses?q=legalEntityAddressId=&lt;value1&gt;;EffectiveStartDate=&lt;value2&gt;;EffectiveEndDate=&lt;value3&gt;</code>
                '
                required: true
                in: path
                type: string
    /legalEntities/{id}/child/phones:
        get:
            operationId: getLegalEntityPhones
            summary: Албан байгууллагын утасны дугаарын жагсаалт
            description: 'Албан байгууллагын утасны дугаарын жагсаалт'
            parameters:
                - 
                    name: expand
                    description: 'Энэ параметрыг ашигласан үед сервер тодорхойлсон харъяалагдах нөөцийг буцаах ба нэгээс олон харъяалагдах нөөцийг буцаах бол таслалаар хязгаарлан тоочиж өгнө. Жишээ нь: ?expand=Employees,Localizations. Харин бүх харъяалагдах нөөцийг авах бол ?expand=all гэж ашиглана.'
                    in: query
                    type: string
                - 
                    name: fields
                    description: 'Энэ параметр нь тухайн нөөцийн багануудыг шүүхэд ашиглагдана. Сервер зөвхөн тодорхойлсон баганы мэдээллийг буцаана. Мөн харъяалагдах нөөцийн баганыг шүүж авч болно. Жишээ нь: "?fields=legalEntityName;legalEntities.businessUnits:businessUnitName" нь legalEntityName болон харъяалагдах Салбар нэгж нөөцийн businessUnitName гэсэн баганыг харуулна. <br><br>Ашиглах загвар: ?fields=Attribute1,Attribute2<br><br>Харъяалагдах нөөцийн хувьд: ?fields=Child1:Attribute1,Attribute2'
                    in: query
                    type: string
                - 
                    name: onlyData
                    description: 'Сервер зөвхөн тухайн нөөцийн датаг буцаана. (Жишээ нь: Ямарч линк агуулсан хэсэг буцаагдахгүй)'
                    in: query
                    type: boolean
                - 
                    name: dependency
                    description: 'Энэ параметр нь хоорондоо хамааралтай багануудын хамаарлыг тодорхойлно. Жишээ нь: dependency=ProductId=2<br><br>Ашиглах формат: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;'
                    in: query
                    type: string
                - 
                    name: limit
                    description: Энэ параметр нь нөөцийн цуглуулгаас заагдсан тоогоор нөөцийг хязгаарлан буцаана. Гэхдээ энэ хязгаар нь боломжит нөөцийн тоогоос хэтрэхгүй байна.
                    in: query
                    type: integer
                - 
                    name: offset
                    description: Энэ параметр нь нөөцийн цуглуулганы эхлэх байршлыг заахад ашиглагдана. Үндсэн утга нь 0 байна.
                    in: query
                    type: integer
                - 
                    name: totalResults
                    description: 'Энэ параметр нь нийт нөөцийн тоог буцаахад ашиглагдана. "?totalResults=true" гэж ашиглана. Үндсэн утга нь "false" байна.'
                    in: query
                    type: boolean
                - 
                    name: q
                    description: 'Энэ параметр нь нөөцийг шүүх, филтердэх нөхцөл болж ашиглагдана. Жишээ нь: ?q=legalEntityType&gt;=10 and &lt;= 30;Location!=UB <br><br>Ашиглах формат: ?q=expression1;expression2'
                    in: query
                    type: string
                - 
                    name: orderBy
                    description: 'Энэ параметр нь нөөцийг тодорхойлсон баганаар дарааллуулахад ашиглагдана. Параметрийн утга нь <strong>;</strong> аар ялгарах ба дарааллын тохиргоо ("asc" эсвэл "desc") нь хоорондоо <strong>:</strong> аар ялгарна. Үндсэн утга нь "asc" байна. Жишээ нь: ?orderBy=field1:asc,field2:desc'
                    in: query
                    type: string
                - 
                    name: finder
                    description: 'Урьдчилан тодорхойлсон хайлт. <br><br>Ашиглах формат: ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>Жишээ нь: ?finder=FindlegalEntityByRegistration;RegistrationNumber=100045,EffectiveDate=SYSDATE гэж ашиглана.'
                    in: query
                    type: string
            responses:
                default:
                    description: Үндсэн буцаах дата нь дараах хүснэгтэд тодорхойлсны дагуу байна.
                    schema:
                        $ref: '#/definitions/legalEntity-phones'
            produces:
                - application/json
            tags:
                - Албан байгууллагын утасны дугаар
            x-internal-id: hemis-api-1.0.0-legalEntities-child-phones-get
        post:
            operationId: createLegalEntityPhone
            summary: Албан байгууллагын утасны дугаар үүсгэх
            description: 'Албан байгууллагын утасны дугаар үүсгэх'
            parameters:
                - 
                    name: payload
                    description: 'Үндсэн буцаах дата нь дараах хүснэгтэд тодорхойлсны дагуу байна.'
                    in: body
                    type: string
                    schema:
                        $ref: '#/definitions/legalEntity-phones-item'
            responses:
                default:
                    description: Үндсэн буцаах дата нь дараах хүснэгтэд тодорхойлсны дагуу байна.
                    schema:
                        $ref: '#/definitions/legalEntity-phones-item'
            produces:
                - application/json
            tags:
                - Албан байгууллагын утасны дугаар
            x-internal-id: hemis-api-1.0.0-legalEntities-child-phones-post   
        parameters:
            - 
                name: id
                description: '
                <p>Энэ параметр нь тухайн нөөцийн анхдагч түлхүүрийн мэдээллээс сервер шифрлэн үүсгэсэн <code>hash key</code> ба тухайн бичлэгийг давхцахгүй байдлаар бүрэн илэрхийлнэ.</p>
                <p>Хэрэв тухайн нөөцөөс анхдагч түлхүүр ашиглан мэдээлэл авах бол <code>q</code> параметр ашиглах ба дараах хэлбэртэй байна:</p>
                <code>/&lt;resourceName&gt;?q=PrimaryKey1=&lt;value1&gt;;PrimaryKey2=&lt;value2&gt;;PrimaryKey3=&lt;value3&gt;</code>
                <br>
                <p>Тайлбар:</p>
                <ul>
                    <li><code>/&lt;resourceName&gt;</code> хэсэгт веб сервисийн нөөцийн нэр байна.</li>
                    <li><code>PrimaryKey1, PrimaryKey2, PrimaryKey3</code> хэсэгт анхдагч түлхүүрийн баганы нэр байна.</li>
                    <li><code>&lt;value1&gt;, &lt;value2&gt;, &lt;value3&gt;</code> хэсэгт анхдагч түлхүүрээр шүүх утга бичнэ.</li>
                </ul>
                <br>
                <p>Албан байгууллагын анхдагч түлхүүрээр шүүхдээ дараах хэлбэрээр шүүнэ:</p>
                <code>/legalEntities?q=LegalEntityId=&lt;value1&gt;;EffectiveStartDate=&lt;value2&gt;;EffectiveEndDate=&lt;value3&gt;</code>
                '
                required: true
                in: path
                type: string
    /legalEntities/{id}/child/phones/{childId}:
        get:
            operationId: getLegalEntityPhone
            summary: Албан байгууллагын утасны дугаарын мэдээлэл
            description: 'Албан байгууллагын утасны дугаарын мэдээлэл'
            parameters:
                - 
                    name: expand
                    description: 'Энэ параметрыг ашигласан үед сервер тодорхойлсон харъяалагдах нөөцийг буцаах ба нэгээс олон харъяалагдах нөөцийг буцаах бол таслалаар хязгаарлан тоочиж өгнө. Жишээ нь: ?expand=Employees,Localizations. Харин бүх харъяалагдах нөөцийг авах бол ?expand=all гэж ашиглана.'
                    in: query
                    type: string
                - 
                    name: fields
                    description: 'Энэ параметр нь тухайн нөөцийн багануудыг шүүхэд ашиглагдана. Сервер зөвхөн тодорхойлсон баганы мэдээллийг буцаана. Мөн харъяалагдах нөөцийн баганыг шүүж авч болно. Жишээ нь: "?fields=legalEntityName;legalEntities.businessUnits:businessUnitName" нь legalEntityName болон харъяалагдах Салбар нэгж нөөцийн businessUnitName гэсэн баганыг харуулна. <br><br>Ашиглах загвар: ?fields=Attribute1,Attribute2<br><br>Харъяалагдах нөөцийн хувьд: ?fields=Child1:Attribute1,Attribute2'
                    in: query
                    type: string
                - 
                    name: onlyData
                    description: 'Зөвхөн өгөгдөл харуулна (Жишээ нь линкийн хэсгийг харуулахгүй).'
                    in: query
                    type: boolean
                - 
                    name: dependency
                    description: 'Энэ параметр нь хоорондоо хамааралтай багануудын хамаарлыг тодорхойлно. Жишээ нь: dependency=ProductId=2<br><br>Ашиглах формат: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;'
                    in: query
                    type: string
            responses:
                default:
                    description: Үндсэн буцаах дата нь дараах хүснэгтэд тодорхойлсны дагуу байна.
                    schema:
                        $ref: '#/definitions/legalEntity-phones-item'
            produces:
                - application/json
            tags:
                - Албан байгууллагын утасны дугаар
            x-internal-id: hemis-api-1.0.0-legalEntities-child-phones-{childId}-get
        patch:
            operationId: updateLegalEntityPhone
            summary: Албан байгууллагын утасны дугаарын мэдээлэл засах
            description: 'Албан байгууллагын утасны дугаарын мэдээлэл засах'
            parameters:
                - 
                    name: payload
                    description: 'Үндсэн буцаах дата нь дараах хүснэгтэд тодорхойлсны дагуу байна.'
                    in: body
                    type: string
                    schema:
                        $ref: '#/definitions/legalEntity-phones-item'
            responses:
                default:
                    description: Үндсэн буцаах дата нь дараах хүснэгтэд тодорхойлсны дагуу байна.
                    schema:
                        $ref: '#/definitions/legalEntity-phones-item'
            produces:
                - application/json
            tags:
                - Албан байгууллагын утасны дугаар
            x-internal-id: hemis-api-1.0.0-legalEntities-child-phones-{childId}-patch      
        delete:
            operationId: deleteLegalEntityPhone
            summary: Албан байгууллагын утасны дугаар устгах
            description: 'Албан байгууллагын утасны дугаар устгах'
            responses:
                204:
                    description: Харуулах мэдээлэл байхгүй.
            produces:
                - application/json
            tags:
                - Албан байгууллагын утасны дугаар
            x-internal-id: hemis-api-1.0.0-legalEntities-child-phones-{childId}-delete   
        parameters:
            - 
                name: id
                description: '
                <p>Энэ параметр нь тухайн нөөцийн анхдагч түлхүүрийн мэдээллээс сервер шифрлэн үүсгэсэн <code>hash key</code> ба тухайн бичлэгийг давхцахгүй байдлаар бүрэн илэрхийлнэ.</p>
                <p>Хэрэв тухайн нөөцөөс анхдагч түлхүүр ашиглан мэдээлэл авах бол <code>q</code> параметр ашиглах ба дараах хэлбэртэй байна:</p>
                <code>/&lt;resourceName&gt;?q=PrimaryKey1=&lt;value1&gt;;PrimaryKey2=&lt;value2&gt;;PrimaryKey3=&lt;value3&gt;</code>
                <br>
                <p>Тайлбар:</p>
                <ul>
                    <li><code>/&lt;resourceName&gt;</code> хэсэгт веб сервисийн нөөцийн нэр байна.</li>
                    <li><code>PrimaryKey1, PrimaryKey2, PrimaryKey3</code> хэсэгт анхдагч түлхүүрийн баганы нэр байна.</li>
                    <li><code>&lt;value1&gt;, &lt;value2&gt;, &lt;value3&gt;</code> хэсэгт анхдагч түлхүүрээр шүүх утга бичнэ.</li>
                </ul>
                <br>
                <p>Албан байгууллагын анхдагч түлхүүрээр шүүхдээ дараах хэлбэрээр шүүнэ:</p>
                <code>/legalEntities?q=LegalEntityId=&lt;value1&gt;;EffectiveStartDate=&lt;value2&gt;;EffectiveEndDate=&lt;value3&gt;</code>
                '
                required: true
                in: path
                type: string
            - 
                name: childId
                description: '
                <p>Энэ параметр нь харъяалагдах дэд нөөцийн анхдагч түлхүүрийн мэдээллээс сервер шифрлэн үүсгэсэн <code>hash key</code> ба тухайн бичлэгийг давхцахгүй байдлаар бүрэн илэрхийлнэ.</p>
                <p>Хэрэв тухайн нөөцөөс анхдагч түлхүүр ашиглан мэдээлэл авах бол <code>q</code> параметр ашиглах ба дараах хэлбэртэй байна:</p>
                <code>/&lt;resourceName&gt;/{id}/child/&lt;childResourceName&gt;?q=PrimaryKey1=&lt;value1&gt;;PrimaryKey2=&lt;value2&gt;;PrimaryKey3=&lt;value3&gt;</code>
                <br>
                <p>Тайлбар:</p>
                <ul>
                    <li><code>/&lt;resourceName&gt;/{id}/child/&lt;childResourceName&gt;</code> хэсэгт харъяалагдах дэд нөөцийн зам байна.</li>
                    <li><code>PrimaryKey1, PrimaryKey2, PrimaryKey3</code> хэсэгт анхдагч түлхүүрийн баганы нэр байна.</li>
                    <li><code>&lt;value1&gt;, &lt;value2&gt;, &lt;value3&gt;</code> хэсэгт анхдагч түлхүүрээр шүүх утга бичнэ.</li>
                </ul>
                <br>
                <p>Албан байгууллагын утасны дугаарын анхдагч түлхүүрээр шүүхдээ дараах хэлбэрээр шүүнэ:</p>
                <code>/legalEntities/{id}/child/phones?q=legalEntityPhoneId=&lt;value1&gt;;EffectiveStartDate=&lt;value2&gt;;EffectiveEndDate=&lt;value3&gt;</code>
                '
                required: true
                in: path
                type: string
    /legalEntities/{id}/child/emails:
        get:
            operationId: getLegalEntityEmails
            summary: Албан байгууллагын мэйл хаягийн жагсаалт
            description: 'Албан байгууллагын мэйл хаягийн жагсаалт'
            parameters:
                - 
                    name: expand
                    description: 'Энэ параметрыг ашигласан үед сервер тодорхойлсон харъяалагдах нөөцийг буцаах ба нэгээс олон харъяалагдах нөөцийг буцаах бол таслалаар хязгаарлан тоочиж өгнө. Жишээ нь: ?expand=Employees,Localizations. Харин бүх харъяалагдах нөөцийг авах бол ?expand=all гэж ашиглана.'
                    in: query
                    type: string
                - 
                    name: fields
                    description: 'Энэ параметр нь тухайн нөөцийн багануудыг шүүхэд ашиглагдана. Сервер зөвхөн тодорхойлсон баганы мэдээллийг буцаана. Мөн харъяалагдах нөөцийн баганыг шүүж авч болно. Жишээ нь: "?fields=legalEntityName;legalEntities.businessUnits:businessUnitName" нь legalEntityName болон харъяалагдах Салбар нэгж нөөцийн businessUnitName гэсэн баганыг харуулна. <br><br>Ашиглах загвар: ?fields=Attribute1,Attribute2<br><br>Харъяалагдах нөөцийн хувьд: ?fields=Child1:Attribute1,Attribute2'
                    in: query
                    type: string
                - 
                    name: onlyData
                    description: 'Сервер зөвхөн тухайн нөөцийн датаг буцаана. (Жишээ нь: Ямарч линк агуулсан хэсэг буцаагдахгүй)'
                    in: query
                    type: boolean
                - 
                    name: dependency
                    description: 'Энэ параметр нь хоорондоо хамааралтай багануудын хамаарлыг тодорхойлно. Жишээ нь: dependency=ProductId=2<br><br>Ашиглах формат: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;'
                    in: query
                    type: string
                - 
                    name: limit
                    description: Энэ параметр нь нөөцийн цуглуулгаас заагдсан тоогоор нөөцийг хязгаарлан буцаана. Гэхдээ энэ хязгаар нь боломжит нөөцийн тоогоос хэтрэхгүй байна.
                    in: query
                    type: integer
                - 
                    name: offset
                    description: Энэ параметр нь нөөцийн цуглуулганы эхлэх байршлыг заахад ашиглагдана. Үндсэн утга нь 0 байна.
                    in: query
                    type: integer
                - 
                    name: totalResults
                    description: 'Энэ параметр нь нийт нөөцийн тоог буцаахад ашиглагдана. "?totalResults=true" гэж ашиглана. Үндсэн утга нь "false" байна.'
                    in: query
                    type: boolean
                - 
                    name: q
                    description: 'Энэ параметр нь нөөцийг шүүх, филтердэх нөхцөл болж ашиглагдана. Жишээ нь: ?q=legalEntityType&gt;=10 and &lt;= 30;Location!=UB <br><br>Ашиглах формат: ?q=expression1;expression2'
                    in: query
                    type: string
                - 
                    name: orderBy
                    description: 'Энэ параметр нь нөөцийг тодорхойлсон баганаар дарааллуулахад ашиглагдана. Параметрийн утга нь <strong>;</strong> аар ялгарах ба дарааллын тохиргоо ("asc" эсвэл "desc") нь хоорондоо <strong>:</strong> аар ялгарна. Үндсэн утга нь "asc" байна. Жишээ нь: ?orderBy=field1:asc,field2:desc'
                    in: query
                    type: string
                - 
                    name: finder
                    description: 'Урьдчилан тодорхойлсон хайлт. <br><br>Ашиглах формат: ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>Жишээ нь: ?finder=FindlegalEntityByRegistration;RegistrationNumber=100045,EffectiveDate=SYSDATE гэж ашиглана.'
                    in: query
                    type: string
            responses:
                default:
                    description: Үндсэн буцаах дата нь дараах хүснэгтэд тодорхойлсны дагуу байна.
                    schema:
                        $ref: '#/definitions/legalEntity-emails'
            produces:
                - application/json
            tags:
                - Албан байгууллагын мэйл хаяг
            x-internal-id: hemis-api-1.0.0-legalEntities-child-emails-get
        post:
            operationId: createLegalEntityEmail
            summary: Албан байгууллагын мэйл хаяг үүсгэх
            description: 'Албан байгууллагын мэйл хаяг үүсгэх'
            parameters:
                - 
                    name: payload
                    description: 'Үндсэн буцаах дата нь дараах хүснэгтэд тодорхойлсны дагуу байна.'
                    in: body
                    type: string
                    schema:
                        $ref: '#/definitions/legalEntity-emails-item'
            responses:
                default:
                    description: Үндсэн буцаах дата нь дараах хүснэгтэд тодорхойлсны дагуу байна.
                    schema:
                        $ref: '#/definitions/legalEntity-emails-item'
            produces:
                - application/json
            tags:
                - Албан байгууллагын мэйл хаяг
            x-internal-id: hemis-api-1.0.0-legalEntities-child-emails-post   
        parameters:
            - 
                name: id
                description: '
                <p>Энэ параметр нь тухайн нөөцийн анхдагч түлхүүрийн мэдээллээс сервер шифрлэн үүсгэсэн <code>hash key</code> ба тухайн бичлэгийг давхцахгүй байдлаар бүрэн илэрхийлнэ.</p>
                <p>Хэрэв тухайн нөөцөөс анхдагч түлхүүр ашиглан мэдээлэл авах бол <code>q</code> параметр ашиглах ба дараах хэлбэртэй байна:</p>
                <code>/&lt;resourceName&gt;?q=PrimaryKey1=&lt;value1&gt;;PrimaryKey2=&lt;value2&gt;;PrimaryKey3=&lt;value3&gt;</code>
                <br>
                <p>Тайлбар:</p>
                <ul>
                    <li><code>/&lt;resourceName&gt;</code> хэсэгт веб сервисийн нөөцийн нэр байна.</li>
                    <li><code>PrimaryKey1, PrimaryKey2, PrimaryKey3</code> хэсэгт анхдагч түлхүүрийн баганы нэр байна.</li>
                    <li><code>&lt;value1&gt;, &lt;value2&gt;, &lt;value3&gt;</code> хэсэгт анхдагч түлхүүрээр шүүх утга бичнэ.</li>
                </ul>
                <br>
                <p>Албан байгууллагын анхдагч түлхүүрээр шүүхдээ дараах хэлбэрээр шүүнэ:</p>
                <code>/legalEntities?q=LegalEntityId=&lt;value1&gt;;EffectiveStartDate=&lt;value2&gt;;EffectiveEndDate=&lt;value3&gt;</code>
                '
                required: true
                in: path
                type: string
    /legalEntities/{id}/child/emails/{childId}:
        get:
            operationId: getLegalEntityEmail
            summary: Албан байгууллагын мэйл хаягийн мэдээлэл
            description: 'Албан байгууллагын мэйл хаягийн мэдээлэл'
            parameters:
                - 
                    name: expand
                    description: 'Энэ параметрыг ашигласан үед сервер тодорхойлсон харъяалагдах нөөцийг буцаах ба нэгээс олон харъяалагдах нөөцийг буцаах бол таслалаар хязгаарлан тоочиж өгнө. Жишээ нь: ?expand=Employees,Localizations. Харин бүх харъяалагдах нөөцийг авах бол ?expand=all гэж ашиглана.'
                    in: query
                    type: string
                - 
                    name: fields
                    description: 'Энэ параметр нь тухайн нөөцийн багануудыг шүүхэд ашиглагдана. Сервер зөвхөн тодорхойлсон баганы мэдээллийг буцаана. Мөн харъяалагдах нөөцийн баганыг шүүж авч болно. Жишээ нь: "?fields=legalEntityName;legalEntities.businessUnits:businessUnitName" нь legalEntityName болон харъяалагдах Салбар нэгж нөөцийн businessUnitName гэсэн баганыг харуулна. <br><br>Ашиглах загвар: ?fields=Attribute1,Attribute2<br><br>Харъяалагдах нөөцийн хувьд: ?fields=Child1:Attribute1,Attribute2'
                    in: query
                    type: string
                - 
                    name: onlyData
                    description: 'Зөвхөн өгөгдөл харуулна (Жишээ нь линкийн хэсгийг харуулахгүй).'
                    in: query
                    type: boolean
                - 
                    name: dependency
                    description: 'Энэ параметр нь хоорондоо хамааралтай багануудын хамаарлыг тодорхойлно. Жишээ нь: dependency=ProductId=2<br><br>Ашиглах формат: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;'
                    in: query
                    type: string
            responses:
                default:
                    description: Үндсэн буцаах дата нь дараах хүснэгтэд тодорхойлсны дагуу байна.
                    schema:
                        $ref: '#/definitions/legalEntity-emails-item'
            produces:
                - application/json
            tags:
                - Албан байгууллагын мэйл хаяг
            x-internal-id: hemis-api-1.0.0-legalEntities-child-emails-{childId}-get
        patch:
            operationId: updateLegalEntityEmail
            summary: Албан байгууллагын мэйл хаягийн мэдээлэл засах
            description: 'Албан байгууллагын мэйл хаягийн мэдээлэл засах'
            parameters:
                - 
                    name: payload
                    description: 'Үндсэн буцаах дата нь дараах хүснэгтэд тодорхойлсны дагуу байна.'
                    in: body
                    type: string
                    schema:
                        $ref: '#/definitions/legalEntity-emails-item'
            responses:
                default:
                    description: Үндсэн буцаах дата нь дараах хүснэгтэд тодорхойлсны дагуу байна.
                    schema:
                        $ref: '#/definitions/legalEntity-emails-item'
            produces:
                - application/json
            tags:
                - Албан байгууллагын мэйл хаяг
            x-internal-id: hemis-api-1.0.0-legalEntities-child-emails-{childId}-patch      
        delete:
            operationId: deleteLegalEntityEmail
            summary: Албан байгууллагын мэйл хаяг устгах
            description: 'Албан байгууллагын мэйл хаяг устгах'
            responses:
                204:
                    description: Харуулах мэдээлэл байхгүй.
            produces:
                - application/json
            tags:
                - Албан байгууллагын мэйл хаяг
            x-internal-id: hemis-api-1.0.0-legalEntities-child-emails-{childId}-delete   
        parameters:
            - 
                name: id
                description: '
                <p>Энэ параметр нь тухайн нөөцийн анхдагч түлхүүрийн мэдээллээс сервер шифрлэн үүсгэсэн <code>hash key</code> ба тухайн бичлэгийг давхцахгүй байдлаар бүрэн илэрхийлнэ.</p>
                <p>Хэрэв тухайн нөөцөөс анхдагч түлхүүр ашиглан мэдээлэл авах бол <code>q</code> параметр ашиглах ба дараах хэлбэртэй байна:</p>
                <code>/&lt;resourceName&gt;?q=PrimaryKey1=&lt;value1&gt;;PrimaryKey2=&lt;value2&gt;;PrimaryKey3=&lt;value3&gt;</code>
                <br>
                <p>Тайлбар:</p>
                <ul>
                    <li><code>/&lt;resourceName&gt;</code> хэсэгт веб сервисийн нөөцийн нэр байна.</li>
                    <li><code>PrimaryKey1, PrimaryKey2, PrimaryKey3</code> хэсэгт анхдагч түлхүүрийн баганы нэр байна.</li>
                    <li><code>&lt;value1&gt;, &lt;value2&gt;, &lt;value3&gt;</code> хэсэгт анхдагч түлхүүрээр шүүх утга бичнэ.</li>
                </ul>
                <br>
                <p>Албан байгууллагын анхдагч түлхүүрээр шүүхдээ дараах хэлбэрээр шүүнэ:</p>
                <code>/legalEntities?q=LegalEntityId=&lt;value1&gt;;EffectiveStartDate=&lt;value2&gt;;EffectiveEndDate=&lt;value3&gt;</code>
                '
                required: true
                in: path
                type: string
            - 
                name: childId
                description: '
                <p>Энэ параметр нь харъяалагдах дэд нөөцийн анхдагч түлхүүрийн мэдээллээс сервер шифрлэн үүсгэсэн <code>hash key</code> ба тухайн бичлэгийг давхцахгүй байдлаар бүрэн илэрхийлнэ.</p>
                <p>Хэрэв тухайн нөөцөөс анхдагч түлхүүр ашиглан мэдээлэл авах бол <code>q</code> параметр ашиглах ба дараах хэлбэртэй байна:</p>
                <code>/&lt;resourceName&gt;/{id}/child/&lt;childResourceName&gt;?q=PrimaryKey1=&lt;value1&gt;;PrimaryKey2=&lt;value2&gt;;PrimaryKey3=&lt;value3&gt;</code>
                <br>
                <p>Тайлбар:</p>
                <ul>
                    <li><code>/&lt;resourceName&gt;/{id}/child/&lt;childResourceName&gt;</code> хэсэгт харъяалагдах дэд нөөцийн зам байна.</li>
                    <li><code>PrimaryKey1, PrimaryKey2, PrimaryKey3</code> хэсэгт анхдагч түлхүүрийн баганы нэр байна.</li>
                    <li><code>&lt;value1&gt;, &lt;value2&gt;, &lt;value3&gt;</code> хэсэгт анхдагч түлхүүрээр шүүх утга бичнэ.</li>
                </ul>
                <br>
                <p>Албан байгууллагын мэйл хаягийг анхдагч түлхүүрээр шүүхдээ дараах хэлбэрээр шүүнэ:</p>
                <code>/legalEntities/{id}/child/emails?q=legalEntityEmailId=&lt;value1&gt;;EffectiveStartDate=&lt;value2&gt;;EffectiveEndDate=&lt;value3&gt;</code>
                '
                required: true
                in: path
                type: string
    /legalEntities/{id}/child/webs:
        get:
            operationId: getLegalEntityWebs
            summary: Албан байгууллагын веб хаягийн жагсаалт
            description: 'Албан байгууллагын веб хаягийн жагсаалт'
            parameters:
                - 
                    name: expand
                    description: 'Энэ параметрыг ашигласан үед сервер тодорхойлсон харъяалагдах нөөцийг буцаах ба нэгээс олон харъяалагдах нөөцийг буцаах бол таслалаар хязгаарлан тоочиж өгнө. Жишээ нь: ?expand=Employees,Localizations. Харин бүх харъяалагдах нөөцийг авах бол ?expand=all гэж ашиглана.'
                    in: query
                    type: string
                - 
                    name: fields
                    description: 'Энэ параметр нь тухайн нөөцийн багануудыг шүүхэд ашиглагдана. Сервер зөвхөн тодорхойлсон баганы мэдээллийг буцаана. Мөн харъяалагдах нөөцийн баганыг шүүж авч болно. Жишээ нь: "?fields=legalEntityName;legalEntities.businessUnits:businessUnitName" нь legalEntityName болон харъяалагдах Салбар нэгж нөөцийн businessUnitName гэсэн баганыг харуулна. <br><br>Ашиглах загвар: ?fields=Attribute1,Attribute2<br><br>Харъяалагдах нөөцийн хувьд: ?fields=Child1:Attribute1,Attribute2'
                    in: query
                    type: string
                - 
                    name: onlyData
                    description: 'Сервер зөвхөн тухайн нөөцийн датаг буцаана. (Жишээ нь: Ямарч линк агуулсан хэсэг буцаагдахгүй)'
                    in: query
                    type: boolean
                - 
                    name: dependency
                    description: 'Энэ параметр нь хоорондоо хамааралтай багануудын хамаарлыг тодорхойлно. Жишээ нь: dependency=ProductId=2<br><br>Ашиглах формат: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;'
                    in: query
                    type: string
                - 
                    name: limit
                    description: Энэ параметр нь нөөцийн цуглуулгаас заагдсан тоогоор нөөцийг хязгаарлан буцаана. Гэхдээ энэ хязгаар нь боломжит нөөцийн тоогоос хэтрэхгүй байна.
                    in: query
                    type: integer
                - 
                    name: offset
                    description: Энэ параметр нь нөөцийн цуглуулганы эхлэх байршлыг заахад ашиглагдана. Үндсэн утга нь 0 байна.
                    in: query
                    type: integer
                - 
                    name: totalResults
                    description: 'Энэ параметр нь нийт нөөцийн тоог буцаахад ашиглагдана. "?totalResults=true" гэж ашиглана. Үндсэн утга нь "false" байна.'
                    in: query
                    type: boolean
                - 
                    name: q
                    description: 'Энэ параметр нь нөөцийг шүүх, филтердэх нөхцөл болж ашиглагдана. Жишээ нь: ?q=legalEntityType&gt;=10 and &lt;= 30;Location!=UB <br><br>Ашиглах формат: ?q=expression1;expression2'
                    in: query
                    type: string
                - 
                    name: orderBy
                    description: 'Энэ параметр нь нөөцийг тодорхойлсон баганаар дарааллуулахад ашиглагдана. Параметрийн утга нь <strong>;</strong> аар ялгарах ба дарааллын тохиргоо ("asc" эсвэл "desc") нь хоорондоо <strong>:</strong> аар ялгарна. Үндсэн утга нь "asc" байна. Жишээ нь: ?orderBy=field1:asc,field2:desc'
                    in: query
                    type: string
                - 
                    name: finder
                    description: 'Урьдчилан тодорхойлсон хайлт. <br><br>Ашиглах формат: ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>Жишээ нь: ?finder=FindlegalEntityByRegistration;RegistrationNumber=100045,EffectiveDate=SYSDATE гэж ашиглана.'
                    in: query
                    type: string
            responses:
                default:
                    description: Үндсэн буцаах дата нь дараах хүснэгтэд тодорхойлсны дагуу байна.
                    schema:
                        $ref: '#/definitions/legalEntity-webs'
            produces:
                - application/json
            tags:
                - Албан байгууллагын веб хаяг
            x-internal-id: hemis-api-1.0.0-legalEntities-child-webs-get
        post:
            operationId: createLegalEntityWeb
            summary: Албан байгууллагын веб хаяг үүсгэх
            description: 'Албан байгууллагын веб хаяг үүсгэх'
            parameters:
                - 
                    name: payload
                    description: 'Үндсэн буцаах дата нь дараах хүснэгтэд тодорхойлсны дагуу байна.'
                    in: body
                    type: string
                    schema:
                        $ref: '#/definitions/legalEntity-webs-item'
            responses:
                default:
                    description: Үндсэн буцаах дата нь дараах хүснэгтэд тодорхойлсны дагуу байна.
                    schema:
                        $ref: '#/definitions/legalEntity-webs-item'
            produces:
                - application/json
            tags:
                - Албан байгууллагын веб хаяг
            x-internal-id: hemis-api-1.0.0-legalEntities-child-webs-post   
        parameters:
            - 
                name: id
                description: '
                <p>Энэ параметр нь тухайн нөөцийн анхдагч түлхүүрийн мэдээллээс сервер шифрлэн үүсгэсэн <code>hash key</code> ба тухайн бичлэгийг давхцахгүй байдлаар бүрэн илэрхийлнэ.</p>
                <p>Хэрэв тухайн нөөцөөс анхдагч түлхүүр ашиглан мэдээлэл авах бол <code>q</code> параметр ашиглах ба дараах хэлбэртэй байна:</p>
                <code>/&lt;resourceName&gt;?q=PrimaryKey1=&lt;value1&gt;;PrimaryKey2=&lt;value2&gt;;PrimaryKey3=&lt;value3&gt;</code>
                <br>
                <p>Тайлбар:</p>
                <ul>
                    <li><code>/&lt;resourceName&gt;</code> хэсэгт веб сервисийн нөөцийн нэр байна.</li>
                    <li><code>PrimaryKey1, PrimaryKey2, PrimaryKey3</code> хэсэгт анхдагч түлхүүрийн баганы нэр байна.</li>
                    <li><code>&lt;value1&gt;, &lt;value2&gt;, &lt;value3&gt;</code> хэсэгт анхдагч түлхүүрээр шүүх утга бичнэ.</li>
                </ul>
                <br>
                <p>Албан байгууллагын анхдагч түлхүүрээр шүүхдээ дараах хэлбэрээр шүүнэ:</p>
                <code>/legalEntities?q=LegalEntityId=&lt;value1&gt;;EffectiveStartDate=&lt;value2&gt;;EffectiveEndDate=&lt;value3&gt;</code>
                '
                required: true
                in: path
                type: string
    /legalEntities/{id}/child/webs/{childId}:
        get:
            operationId: getLegalEntityWeb
            summary: Албан байгууллагын веб хаягийн мэдээлэл
            description: 'Албан байгууллагын веб хаягийн мэдээлэл'
            parameters:
                - 
                    name: expand
                    description: 'Энэ параметрыг ашигласан үед сервер тодорхойлсон харъяалагдах нөөцийг буцаах ба нэгээс олон харъяалагдах нөөцийг буцаах бол таслалаар хязгаарлан тоочиж өгнө. Жишээ нь: ?expand=Employees,Localizations. Харин бүх харъяалагдах нөөцийг авах бол ?expand=all гэж ашиглана.'
                    in: query
                    type: string
                - 
                    name: fields
                    description: 'Энэ параметр нь тухайн нөөцийн багануудыг шүүхэд ашиглагдана. Сервер зөвхөн тодорхойлсон баганы мэдээллийг буцаана. Мөн харъяалагдах нөөцийн баганыг шүүж авч болно. Жишээ нь: "?fields=legalEntityName;legalEntities.businessUnits:businessUnitName" нь legalEntityName болон харъяалагдах Салбар нэгж нөөцийн businessUnitName гэсэн баганыг харуулна. <br><br>Ашиглах загвар: ?fields=Attribute1,Attribute2<br><br>Харъяалагдах нөөцийн хувьд: ?fields=Child1:Attribute1,Attribute2'
                    in: query
                    type: string
                - 
                    name: onlyData
                    description: 'Зөвхөн өгөгдөл харуулна (Жишээ нь линкийн хэсгийг харуулахгүй).'
                    in: query
                    type: boolean
                - 
                    name: dependency
                    description: 'Энэ параметр нь хоорондоо хамааралтай багануудын хамаарлыг тодорхойлно. Жишээ нь: dependency=ProductId=2<br><br>Ашиглах формат: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;'
                    in: query
                    type: string
            responses:
                default:
                    description: Үндсэн буцаах дата нь дараах хүснэгтэд тодорхойлсны дагуу байна.
                    schema:
                        $ref: '#/definitions/legalEntity-webs-item'
            produces:
                - application/json
            tags:
                - Албан байгууллагын веб хаяг
            x-internal-id: hemis-api-1.0.0-legalEntities-child-webs-{childId}-get
        patch:
            operationId: updateLegalEntityWeb
            summary: Албан байгууллагын веб хаягийн мэдээлэл засах
            description: 'Албан байгууллагын веб хаягийн мэдээлэл засах'
            parameters:
                - 
                    name: payload
                    description: 'Үндсэн буцаах дата нь дараах хүснэгтэд тодорхойлсны дагуу байна.'
                    in: body
                    type: string
                    schema:
                        $ref: '#/definitions/legalEntity-webs-item'
            responses:
                default:
                    description: Үндсэн буцаах дата нь дараах хүснэгтэд тодорхойлсны дагуу байна.
                    schema:
                        $ref: '#/definitions/legalEntity-webs-item'
            produces:
                - application/json
            tags:
                - Албан байгууллагын веб хаяг
            x-internal-id: hemis-api-1.0.0-legalEntities-child-webs-{childId}-patch      
        delete:
            operationId: deleteLegalEntityWeb
            summary: Албан байгууллагын веб хаяг устгах
            description: 'Албан байгууллагын веб хаяг устгах'
            responses:
                204:
                    description: Харуулах мэдээлэл байхгүй.
            produces:
                - application/json
            tags:
                - Албан байгууллагын веб хаяг
            x-internal-id: hemis-api-1.0.0-legalEntities-child-webs-{childId}-delete   
        parameters:
            - 
                name: id
                description: '
                <p>Энэ параметр нь тухайн нөөцийн анхдагч түлхүүрийн мэдээллээс сервер шифрлэн үүсгэсэн <code>hash key</code> ба тухайн бичлэгийг давхцахгүй байдлаар бүрэн илэрхийлнэ.</p>
                <p>Хэрэв тухайн нөөцөөс анхдагч түлхүүр ашиглан мэдээлэл авах бол <code>q</code> параметр ашиглах ба дараах хэлбэртэй байна:</p>
                <code>/&lt;resourceName&gt;?q=PrimaryKey1=&lt;value1&gt;;PrimaryKey2=&lt;value2&gt;;PrimaryKey3=&lt;value3&gt;</code>
                <br>
                <p>Тайлбар:</p>
                <ul>
                    <li><code>/&lt;resourceName&gt;</code> хэсэгт веб сервисийн нөөцийн нэр байна.</li>
                    <li><code>PrimaryKey1, PrimaryKey2, PrimaryKey3</code> хэсэгт анхдагч түлхүүрийн баганы нэр байна.</li>
                    <li><code>&lt;value1&gt;, &lt;value2&gt;, &lt;value3&gt;</code> хэсэгт анхдагч түлхүүрээр шүүх утга бичнэ.</li>
                </ul>
                <br>
                <p>Албан байгууллагын анхдагч түлхүүрээр шүүхдээ дараах хэлбэрээр шүүнэ:</p>
                <code>/legalEntities?q=LegalEntityId=&lt;value1&gt;;EffectiveStartDate=&lt;value2&gt;;EffectiveEndDate=&lt;value3&gt;</code>
                '
                required: true
                in: path
                type: string
            - 
                name: childId
                description: '
                <p>Энэ параметр нь харъяалагдах дэд нөөцийн анхдагч түлхүүрийн мэдээллээс сервер шифрлэн үүсгэсэн <code>hash key</code> ба тухайн бичлэгийг давхцахгүй байдлаар бүрэн илэрхийлнэ.</p>
                <p>Хэрэв тухайн нөөцөөс анхдагч түлхүүр ашиглан мэдээлэл авах бол <code>q</code> параметр ашиглах ба дараах хэлбэртэй байна:</p>
                <code>/&lt;resourceName&gt;/{id}/child/&lt;childResourceName&gt;?q=PrimaryKey1=&lt;value1&gt;;PrimaryKey2=&lt;value2&gt;;PrimaryKey3=&lt;value3&gt;</code>
                <br>
                <p>Тайлбар:</p>
                <ul>
                    <li><code>/&lt;resourceName&gt;/{id}/child/&lt;childResourceName&gt;</code> хэсэгт харъяалагдах дэд нөөцийн зам байна.</li>
                    <li><code>PrimaryKey1, PrimaryKey2, PrimaryKey3</code> хэсэгт анхдагч түлхүүрийн баганы нэр байна.</li>
                    <li><code>&lt;value1&gt;, &lt;value2&gt;, &lt;value3&gt;</code> хэсэгт анхдагч түлхүүрээр шүүх утга бичнэ.</li>
                </ul>
                <br>
                <p>Албан байгууллагын веб хаягийг анхдагч түлхүүрээр шүүхдээ дараах хэлбэрээр шүүнэ:</p>
                <code>/legalEntities/{id}/child/webs?q=legalEntityWebId=&lt;value1&gt;;EffectiveStartDate=&lt;value2&gt;;EffectiveEndDate=&lt;value3&gt;</code>
                '
                required: true
                in: path
                type: string
    /businessUnits:
        get:
            summary: Салбар, бүрэлдээний сургуулийн жагсаалт
            description: ''
            parameters:
                - 
                    name: expand
                    description: 'Энэ параметрыг ашигласан үед сервер тодорхойлсон харъяалагдах нөөцийг буцаах ба нэгээс олон харъяалагдах нөөцийг буцаах бол таслалаар хязгаарлан тоочиж өгнө. Жишээ нь: ?expand=Employees,Localizations. Харин бүх харъяалагдах нөөцийг авах бол ?expand=all гэж ашиглана.'
                    in: query
                    type: string
                - 
                    name: fields
                    description: 'Энэ параметр нь тухайн нөөцийн багануудыг шүүхэд ашиглагдана. Сервер зөвхөн тодорхойлсон баганы мэдээллийг буцаана. Мөн харъяалагдах нөөцийн баганыг шүүж авч болно. Жишээ нь: "?fields=legalEntityName;legalEntities.businessUnits:businessUnitName" нь legalEntityName болон харъяалагдах Салбар нэгж нөөцийн businessUnitName гэсэн баганыг харуулна. <br><br>Ашиглах загвар: ?fields=Attribute1,Attribute2<br><br>Харъяалагдах нөөцийн хувьд: ?fields=Child1:Attribute1,Attribute2'
                    in: query
                    type: string
                - 
                    name: onlyData
                    description: 'Зөвхөн өгөгдөл харуулна (Жишээ нь линкийн хэсгийг харуулахгүй).'
                    in: query
                    type: boolean
                - 
                    name: dependency
                    description: 'Энэ параметр нь хоорондоо хамааралтай багануудын хамаарлыг тодорхойлно. Жишээ нь: dependency=ProductId=2<br><br>Ашиглах формат: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;'
                    in: query
                    type: string
                - 
                    name: limit
                    description: Энэ параметр нь нөөцийн цуглуулгаас заагдсан тоогоор нөөцийг хязгаарлан буцаана. Гэхдээ энэ хязгаар нь боломжит нөөцийн тоогоос хэтрэхгүй байна.
                    in: query
                    type: integer
                - 
                    name: offset
                    description: Энэ параметр нь нөөцийн цуглуулганы эхлэх байршлыг заахад ашиглагдана. Үндсэн утга нь 0 байна.
                    in: query
                    type: integer
                - 
                    name: totalResults
                    description: 'Энэ параметр нь нийт нөөцийн тоог буцаахад ашиглагдана. "?totalResults=true" гэж ашиглана. Үндсэн утга нь "false" байна.'
                    in: query
                    type: boolean
                - 
                    name: q
                    description: 'Энэ параметр нь нөөцийг шүүх, филтердэх нөхцөл болж ашиглагдана. Жишээ нь: ?q=legalEntityType&gt;=10 and &lt;= 30;Location!=UB <br><br>Ашиглах формат: ?q=expression1;expression2'
                    in: query
                    type: string
                - 
                    name: orderBy
                    description: 'Энэ параметр нь нөөцийг тодорхойлсон баганаар дарааллуулахад ашиглагдана. Параметрийн утга нь <strong>;</strong> аар ялгарах ба дарааллын тохиргоо ("asc" эсвэл "desc") нь хоорондоо <strong>:</strong> аар ялгарна. Үндсэн утга нь "asc" байна. Жишээ нь: ?orderBy=field1:asc,field2:desc'
                    in: query
                    type: string
                - 
                    name: finder
                    description: 'Урьдчилан тодорхойлсон хайлт. <br><br>Ашиглах формат: ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>Жишээ нь: ?finder=FindlegalEntityByRegistration;RegistrationNumber=100045,EffectiveDate=SYSDATE гэж ашиглана.'
                    in: query
                    type: string
            responses:
                default:
                    description: Үндсэн буцаах дата нь дараах хүснэгтэд тодорхойлсны дагуу байна.
                    schema:
                        $ref: '#/definitions/businessUnits'
            produces:
                - application/json
            tags:
                - Салбар нэгж
            x-internal-id: hemis-api-1.0.0-businessUnits-get
        post:
            operationId: createBusinessUnit
            summary: Салбар нэгж үүсгэх
            description: 'Салбар нэгж үүсгэх'
            parameters:
                - 
                    name: payload
                    description: 'Үндсэн буцаах дата нь дараах хүснэгтэд тодорхойлсны дагуу байна.'
                    in: body
                    type: string
                    schema:
                        $ref: '#/definitions/businessUnits-item'
            responses:
                default:
                    description: Үндсэн буцаах дата нь дараах хүснэгтэд тодорхойлсны дагуу байна.
                    schema:
                        $ref: '#/definitions/businessUnits-item'
            produces:
                - application/json
            tags:
                - Салбар нэгж
            x-internal-id: hemis-api-1.0.0-businessUnits-post      
    /businessUnits/{id}:
        get:
            summary: Салбар нэгжийн мэдээлэл
            description: 'Салбар нэгжийн мэдээлэл'
            parameters:
                - 
                    name: expand
                    description: 'Энэ параметрыг ашигласан үед сервер тодорхойлсон харъяалагдах нөөцийг буцаах ба нэгээс олон харъяалагдах нөөцийг буцаах бол таслалаар хязгаарлан тоочиж өгнө. Жишээ нь: ?expand=Employees,Localizations. Харин бүх харъяалагдах нөөцийг авах бол ?expand=all гэж ашиглана.'
                    in: query
                    type: string
                - 
                    name: fields
                    description: 'Энэ параметр нь тухайн нөөцийн багануудыг шүүхэд ашиглагдана. Сервер зөвхөн тодорхойлсон баганы мэдээллийг буцаана. Мөн харъяалагдах нөөцийн баганыг шүүж авч болно. Жишээ нь: "?fields=legalEntityName;legalEntities.businessUnits:businessUnitName" нь legalEntityName болон харъяалагдах Салбар нэгж нөөцийн businessUnitName гэсэн баганыг харуулна. <br><br>Ашиглах загвар: ?fields=Attribute1,Attribute2<br><br>Харъяалагдах нөөцийн хувьд: ?fields=Child1:Attribute1,Attribute2'
                    in: query
                    type: string
                - 
                    name: onlyData
                    description: 'Зөвхөн өгөгдөл харуулна (Жишээ нь линкийн хэсгийг харуулахгүй).'
                    in: query
                    type: boolean
                - 
                    name: dependency
                    description: 'Энэ параметр нь хоорондоо хамааралтай багануудын хамаарлыг тодорхойлно. Жишээ нь: dependency=ProductId=2<br><br>Ашиглах формат: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;'
                    in: query
                    type: string
            responses:
                default:
                    description: Үндсэн буцаах дата нь дараах хүснэгтэд тодорхойлсны дагуу байна.
                    schema:
                        $ref: '#/definitions/businessUnits-item'
            produces:
                - application/json
            tags:
                - Салбар нэгж
            x-internal-id: 'hemis-api-1.0.0-businessUnits-{id}-get'
        patch:
            operationId: updateBusinessUnit
            summary: Салбар нэгжийн мэдээлэл засах
            description: 'Салбар нэгжийн мэдээлэл засах'
            parameters:
                - 
                    name: payload
                    description: 'Үндсэн буцаах дата нь дараах хүснэгтэд тодорхойлсны дагуу байна.'
                    in: body
                    type: string
                    schema:
                        $ref: '#/definitions/businessUnits-item'
            responses:
                default:
                    description: Үндсэн буцаах дата нь дараах хүснэгтэд тодорхойлсны дагуу байна.
                    schema:
                        $ref: '#/definitions/businessUnits-item'
            produces:
                - application/json
            tags:
                - Салбар нэгж
            x-internal-id: hemis-api-1.0.0-businessUnits-{id}-patch      
        delete:
            operationId: deleteBusinessUnit
            summary: Салбар нэгж устгах
            description: 'Салбар нэгж устгах'
            responses:
                204:
                    description: Харуулах мэдээлэл байхгүй.
            produces:
                - application/json
            tags:
                - Салбар нэгж
            x-internal-id: hemis-api-1.0.0-businessUnits-{id}-delete
        parameters:
            - 
                name: id
                description: '
                <p>Энэ параметр нь тухайн нөөцийн анхдагч түлхүүрийн мэдээллээс сервер шифрлэн үүсгэсэн <code>hash key</code> ба тухайн бичлэгийг давхцахгүй байдлаар бүрэн илэрхийлнэ.</p>
                <p>Хэрэв тухайн нөөцөөс анхдагч түлхүүр ашиглан мэдээлэл авах бол <code>q</code> параметр ашиглах ба дараах хэлбэртэй байна:</p>
                <code>/&lt;resourceName&gt;?q=PrimaryKey1=&lt;value1&gt;;PrimaryKey2=&lt;value2&gt;;PrimaryKey3=&lt;value3&gt;</code>
                <br>
                <p>Тайлбар:</p>
                <ul>
                    <li><code>/&lt;resourceName&gt;</code> хэсэгт веб сервисийн нөөцийн нэр байна.</li>
                    <li><code>PrimaryKey1, PrimaryKey2, PrimaryKey3</code> хэсэгт анхдагч түлхүүрийн баганы нэр байна.</li>
                    <li><code>&lt;value1&gt;, &lt;value2&gt;, &lt;value3&gt;</code> хэсэгт анхдагч түлхүүрээр шүүх утга бичнэ.</li>
                </ul>
                <br>
                <p>Салбар нэгжийн анхдагч түлхүүрээр шүүхдээ дараах хэлбэрээр шүүнэ:</p>
                <code>/businessUnits?q=businessUnitId=&lt;value1&gt;;EffectiveStartDate=&lt;value2&gt;;EffectiveEndDate=&lt;value3&gt;</code>
                '
                required: true
                in: path
                type: string
    /businessUnits/{id}/child/addresses:
        get:
            operationId: getBusinessUnitAddresses
            summary: Салбар нэгжийн хаягийн жагсаалт
            description: 'Салбар нэгжийн хаягийн жагсаалт'
            parameters:
                - 
                    name: expand
                    description: 'Энэ параметрыг ашигласан үед сервер тодорхойлсон харъяалагдах нөөцийг буцаах ба нэгээс олон харъяалагдах нөөцийг буцаах бол таслалаар хязгаарлан тоочиж өгнө. Жишээ нь: ?expand=Employees,Localizations. Харин бүх харъяалагдах нөөцийг авах бол ?expand=all гэж ашиглана.'
                    in: query
                    type: string
                - 
                    name: fields
                    description: 'Энэ параметр нь тухайн нөөцийн багануудыг шүүхэд ашиглагдана. Сервер зөвхөн тодорхойлсон баганы мэдээллийг буцаана. Мөн харъяалагдах нөөцийн баганыг шүүж авч болно. Жишээ нь: "?fields=legalEntityName;legalEntities.businessUnits:businessUnitName" нь legalEntityName болон харъяалагдах Салбар нэгж нөөцийн businessUnitName гэсэн баганыг харуулна. <br><br>Ашиглах загвар: ?fields=Attribute1,Attribute2<br><br>Харъяалагдах нөөцийн хувьд: ?fields=Child1:Attribute1,Attribute2'
                    in: query
                    type: string
                - 
                    name: onlyData
                    description: 'Сервер зөвхөн тухайн нөөцийн датаг буцаана. (Жишээ нь: Ямарч линк агуулсан хэсэг буцаагдахгүй)'
                    in: query
                    type: boolean
                - 
                    name: dependency
                    description: 'Энэ параметр нь хоорондоо хамааралтай багануудын хамаарлыг тодорхойлно. Жишээ нь: dependency=ProductId=2<br><br>Ашиглах формат: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;'
                    in: query
                    type: string
                - 
                    name: limit
                    description: Энэ параметр нь нөөцийн цуглуулгаас заагдсан тоогоор нөөцийг хязгаарлан буцаана. Гэхдээ энэ хязгаар нь боломжит нөөцийн тоогоос хэтрэхгүй байна.
                    in: query
                    type: integer
                - 
                    name: offset
                    description: Энэ параметр нь нөөцийн цуглуулганы эхлэх байршлыг заахад ашиглагдана. Үндсэн утга нь 0 байна.
                    in: query
                    type: integer
                - 
                    name: totalResults
                    description: 'Энэ параметр нь нийт нөөцийн тоог буцаахад ашиглагдана. "?totalResults=true" гэж ашиглана. Үндсэн утга нь "false" байна.'
                    in: query
                    type: boolean
                - 
                    name: q
                    description: 'Энэ параметр нь нөөцийг шүүх, филтердэх нөхцөл болж ашиглагдана. Жишээ нь: ?q=legalEntityType&gt;=10 and &lt;= 30;Location!=UB <br><br>Ашиглах формат: ?q=expression1;expression2'
                    in: query
                    type: string
                - 
                    name: orderBy
                    description: 'Энэ параметр нь нөөцийг тодорхойлсон баганаар дарааллуулахад ашиглагдана. Параметрийн утга нь <strong>;</strong> аар ялгарах ба дарааллын тохиргоо ("asc" эсвэл "desc") нь хоорондоо <strong>:</strong> аар ялгарна. Үндсэн утга нь "asc" байна. Жишээ нь: ?orderBy=field1:asc,field2:desc'
                    in: query
                    type: string
                - 
                    name: finder
                    description: 'Урьдчилан тодорхойлсон хайлт. <br><br>Ашиглах формат: ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>Жишээ нь: ?finder=FindlegalEntityByRegistration;RegistrationNumber=100045,EffectiveDate=SYSDATE гэж ашиглана.'
                    in: query
                    type: string
            responses:
                default:
                    description: Үндсэн буцаах дата нь дараах хүснэгтэд тодорхойлсны дагуу байна.
                    schema:
                        $ref: '#/definitions/businessUnit-addresses'
            produces:
                - application/json
            tags:
                - Салбар нэгжийн хаяг
            x-internal-id: hemis-api-1.0.0-businessUnits-child-addresses-get
        post:
            operationId: createBusinessUnitAddress
            summary: Салбар нэгжийн хаяг үүсгэх
            description: 'Салбар нэгжийн хаяг үүсгэх'
            parameters:
                - 
                    name: payload
                    description: 'Үндсэн буцаах дата нь дараах хүснэгтэд тодорхойлсны дагуу байна.'
                    in: body
                    type: string
                    schema:
                        $ref: '#/definitions/businessUnit-addresses-item'
            responses:
                default:
                    description: Үндсэн буцаах дата нь дараах хүснэгтэд тодорхойлсны дагуу байна.
                    schema:
                        $ref: '#/definitions/businessUnit-addresses-item'
            produces:
                - application/json
            tags:
                - Салбар нэгжийн хаяг
            x-internal-id: hemis-api-1.0.0-businessUnits-child-addresses-post   
        parameters:
            - 
                name: id
                description: '
                <p>Энэ параметр нь тухайн нөөцийн анхдагч түлхүүрийн мэдээллээс сервер шифрлэн үүсгэсэн <code>hash key</code> ба тухайн бичлэгийг давхцахгүй байдлаар бүрэн илэрхийлнэ.</p>
                <p>Хэрэв тухайн нөөцөөс анхдагч түлхүүр ашиглан мэдээлэл авах бол <code>q</code> параметр ашиглах ба дараах хэлбэртэй байна:</p>
                <code>/&lt;resourceName&gt;?q=PrimaryKey1=&lt;value1&gt;;PrimaryKey2=&lt;value2&gt;;PrimaryKey3=&lt;value3&gt;</code>
                <br>
                <p>Тайлбар:</p>
                <ul>
                    <li><code>/&lt;resourceName&gt;</code> хэсэгт веб сервисийн нөөцийн нэр байна.</li>
                    <li><code>PrimaryKey1, PrimaryKey2, PrimaryKey3</code> хэсэгт анхдагч түлхүүрийн баганы нэр байна.</li>
                    <li><code>&lt;value1&gt;, &lt;value2&gt;, &lt;value3&gt;</code> хэсэгт анхдагч түлхүүрээр шүүх утга бичнэ.</li>
                </ul>
                <br>
                <p>Салбар нэгжийн анхдагч түлхүүрээр шүүхдээ дараах хэлбэрээр шүүнэ:</p>
                <code>/businessUnits?q=businessUnitId=&lt;value1&gt;;EffectiveStartDate=&lt;value2&gt;;EffectiveEndDate=&lt;value3&gt;</code>
                '
                required: true
                in: path
                type: string
    /businessUnits/{id}/child/addresses/{childId}:
        get:
            operationId: getBusinessUnitAddress
            summary: Салбар нэгжийн хаягийн мэдээлэл
            description: 'Салбар нэгжийн хаягийн мэдээлэл'
            parameters:
                - 
                    name: expand
                    description: 'Энэ параметрыг ашигласан үед сервер тодорхойлсон харъяалагдах нөөцийг буцаах ба нэгээс олон харъяалагдах нөөцийг буцаах бол таслалаар хязгаарлан тоочиж өгнө. Жишээ нь: ?expand=Employees,Localizations. Харин бүх харъяалагдах нөөцийг авах бол ?expand=all гэж ашиглана.'
                    in: query
                    type: string
                - 
                    name: fields
                    description: 'Энэ параметр нь тухайн нөөцийн багануудыг шүүхэд ашиглагдана. Сервер зөвхөн тодорхойлсон баганы мэдээллийг буцаана. Мөн харъяалагдах нөөцийн баганыг шүүж авч болно. Жишээ нь: "?fields=legalEntityName;legalEntities.businessUnits:businessUnitName" нь legalEntityName болон харъяалагдах Салбар нэгж нөөцийн businessUnitName гэсэн баганыг харуулна. <br><br>Ашиглах загвар: ?fields=Attribute1,Attribute2<br><br>Харъяалагдах нөөцийн хувьд: ?fields=Child1:Attribute1,Attribute2'
                    in: query
                    type: string
                - 
                    name: onlyData
                    description: 'Зөвхөн өгөгдөл харуулна (Жишээ нь линкийн хэсгийг харуулахгүй).'
                    in: query
                    type: boolean
                - 
                    name: dependency
                    description: 'Энэ параметр нь хоорондоо хамааралтай багануудын хамаарлыг тодорхойлно. Жишээ нь: dependency=ProductId=2<br><br>Ашиглах формат: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;'
                    in: query
                    type: string
            responses:
                default:
                    description: Үндсэн буцаах дата нь дараах хүснэгтэд тодорхойлсны дагуу байна.
                    schema:
                        $ref: '#/definitions/businessUnit-addresses-item'
            produces:
                - application/json
            tags:
                - Салбар нэгжийн хаяг
            x-internal-id: hemis-api-1.0.0-businessUnits-child-addresses-{childId}-get
        patch:
            operationId: updateBusinessUnitAddress
            summary: Салбар нэгжийн хаягийн мэдээлэл засах
            description: 'Салбар нэгжийн хаягийн мэдээлэл засах'
            parameters:
                - 
                    name: payload
                    description: 'Үндсэн буцаах дата нь дараах хүснэгтэд тодорхойлсны дагуу байна.'
                    in: body
                    type: string
                    schema:
[...]
